name: Lint

on:
  pull_request:
    branches:
      - main
      - release-[0-9]+.[0-9]+

jobs:
  lint:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v5

      - name: Install ShellCheck
        run: sudo apt-get install -y shellcheck

      - name: Run ShellCheck against scripts
        run: shellcheck --exclude=SC1091,SC2086 -x ./collection-scripts/*
